@import "bootstrap/dist/css/bootstrap.min.css";

.bg-custom-purple {
    background-color: #6f42c1;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bs-primary: #6f42c1;
}

/* globals.css */
.table-header-purple {
  --bs-table-bg: #6f42c1;  /* header background */
  --bs-table-color: #fff;  /* header text color */
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}